.header {
  background: radial-gradient(circle, #9798b3 0%, #65678a 50%);
  background-color: #65678a;
  border-bottom: 1px rgba(75, 75, 75, 1) solid;
  padding: 2rem 0;
}

#circle {
  margin: auto;
  height: 190px;
  width: 190px;
  background-color: rgba(255, 255, 255, 1);
  border: 1px solid rgba(62, 64, 116, 1);
  border-radius: 100px;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}
#profile_img {
  height: 180px;
  width: 180px;
  border-radius: 100px;
  z-index: 2;
}
#elliptic {
  background-color: white;
  border: 1px solid rgba(62, 64, 116);
  border-radius: 12px;
  width: fit-content;
  text-align: center;
  margin: auto;
  margin-top: 10px;
  padding: 0.3rem 2rem;
}
#elliptic span {
  display: block;
  position: relative;
  color: rgba(62, 64, 116, 1);
  font-size: 36px;
  font-family: alice;
}

#corner_1 {
  position: absolute;
  left: 0.5rem;
  z-index: 0;
}
#corner_2 {
  position: absolute;
  right: 0.5rem;
  z-index: 0;
}

.corner-img {
  max-width: 100%;
  padding: 1rem;
}
@media only screen and (max-width: 900px) {
  #corner_1 {
    display: none;
  }
  #corner_2 {
    display: none;
  }
}

@media only screen and (max-width: 500px) {
  #elliptic {
    height: auto;
  }
  #elliptic span {
    font-size: 28px;
  }
}
