@charset "utf-8";
/* CSS Document */
* {
  box-sizing: border-box;
}

body {
  margin: 0px;
}

.nv {
  background-color: rgba(148, 148, 148, 1);
  padding: 8px 8px 8px 20px;
  color: rgba(255, 255, 255, 1);
  display: none;
  font-size: 130%;
  position: sticky;
  top: 0px;
}

.nv i {
  padding: 0px 5px 0px 5px;
  border: 1px solid rgba(177, 177, 177, 1);
  border-radius: 5px;
  box-shadow: 1px 1px 5px rgba(115, 115, 115, 1);
  cursor: pointer;
}

.navbar {
  border-top: 1px solid rgba(241, 240, 96, 1);
  background-color: rgba(148, 148, 148, 1);
  margin: auto;
  font-family: alice;
  font-size: 150%;
  position: sticky;
  top: 0px;
  z-index: 1;
}

.max {
  width: 100%;
  margin: auto;
  display: flex;
  list-style-type: none;
  justify-content: flex-start;
  padding: 0px;
  overflow: auto;
}

.navli {
  flex: 1 1 100%;
  margin: 1px;
  padding: 0.5rem 1rem;
  overflow-wrap: unset;
}

.navli a {
  display: block;
  text-align: center;
  overflow-wrap: unset;
}

.active {
  color: rgba(255, 255, 255, 1);
  background-color: rgba(101, 103, 138, 1);
}

@media only screen and (max-width: 900px) {
  .navbar {
    border: 0px;
  }
  .nv {
    display: block;
  }
  .navli {
    display: block;
    width: 100%;
    margin: auto;
    float: none;
  }
  .navli a {
    display: block;
    color: rgba(255, 255, 255, 1);
    width: 100%;
  }
  .max {
    display: block;
  }

  .displayNone {
    display: none;
  }
}
