.skill {
  margin: 0.2rem;
}

.skillTitle {
  color: rgba(62, 64, 116);
  font-size: 1.5em;
  font-family: "Josefin Slab";
}

.skillBar {
  width: 100%;
  background-color: #ddd;
  margin-bottom: 3%;
}
.skillProgress {
  font-size: 1.2em;
  text-align: right;
  padding-right: 20px;
  line-height: 35px;
  color: rgba(241, 240, 96);
  background-color: rgba(151, 152, 179);
  border: 1px solid rgba(241, 240, 96);
}
