@charset "utf-8";
/* CSS Document */
* {
  box-sizing: border-box;
}
body {
  background-color: rgba(254, 254, 254, 1);
  margin: 0px;
}

#top_w {
  margin: auto;
  width: 400px;
}
#top_wl {
  margin: auto;
  width: 840px;
}

#bottom_w {
  margin: auto;
  width: 300px;
}

#b_title {
  font-size: 550%;
  font-family: alice;
  text-align: center;
  color: rgba(62, 64, 116, 1);
}

#describe {
  font-size: 21px;
  font-family: "Josefin Slab";
  text-align: center;
  color: rgba(101, 103, 138, 1);
}

[class*="col-"] {
  float: left;
  padding: 15px;
}

.col-1 {
  width: 8.33%;
}
.col-2 {
  width: 16.66%;
}
.col-3 {
  width: 25%;
}
.col-4 {
  width: 33.33%;
}
.col-5 {
  width: 41.66%;
}
.col-6 {
  width: 50%;
}
.col-7 {
  width: 58.33%;
}
.col-8 {
  width: 66.66%;
}
.col-9 {
  width: 75%;
}
.col-10 {
  width: 83.33%;
}
.col-11 {
  width: 91.66%;
}
.col-12 {
  width: 100%;
}

@media only screen and (min-width: 900px) {
  /* For tablets: */
  .col-m-1 {
    width: 8.33%;
  }
  .col-m-2 {
    width: 16.66%;
  }
  .col-m-3 {
    width: 25%;
  }
  .col-m-4 {
    width: 33.33%;
  }
  .col-m-5 {
    width: 41.66%;
  }
  .col-m-6 {
    width: 50%;
  }
  .col-m-7 {
    width: 58.33%;
  }
  .col-m-8 {
    width: 66.66%;
  }
  .col-m-9 {
    width: 75%;
  }
  .col-m-10 {
    width: 83.33%;
  }
  .col-m-11 {
    width: 91.66%;
  }
  .col-m-12 {
    width: 100%;
  }
}

@media only screen and (max-width: 840px) {
  #top_wl {
    width: 100%;
  }
  #b_title {
    font-size: 400%;
  }
}
@media only screen and (max-width: 500px) {
  #top_w {
    width: 90%;
  }

  #b_title {
    font-size: 250%;
  }
}
@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  [class*="col-"] {
    width: 100%;
  }
}

/*about me*/
#a_main {
  clear: both;
  display: inline-block;
  margin: 4% 0 0 6%;
}

#l_half {
  padding: 25px;
  text-align: justify;
  width: 45%;
  margin: 2%;
  border: 1px solid rgba(211, 192, 8, 1);
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 2px 2px 10px rgba(148, 148, 148, 1);
  float: left;
}

#r_half {
  padding: 25px;
  width: 40%;
  margin: 2%;
  border: 1px solid rgba(211, 192, 8, 1);
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 2px 2px 10px rgba(148, 148, 148, 1);
  float: left;
}

#c_title {
  font-size: 60px;
  font-family: alice;
  text-align: center;
  color: rgba(62, 64, 116, 1);
}

#about_par {
  color: rgba(62, 64, 116, 1);
  font-size: 22px;
  font-family: "Josefin Slab";
  line-height: 35px;
}

@media only screen and (max-width: 900px) {
  /* For tablets: */
  #l_half {
    min-width: 90%;
  }
  #r_half {
    min-width: 90%;
  }
}
@media only screen and (max-width: 750px) {
  /* For tablets: */
  #l_half {
    min-width: 96%;
  }
  #r_half {
    min-width: 96%;
  }
  #a_main {
    margin-left: 0;
  }
}

/*skills*/

.container {
  width: 100%;
  background-color: #ddd;
  margin-bottom: 3%;
}
.skills {
  font-size: 1.2em;
  text-align: right;
  padding-right: 20px;
  line-height: 35px;
  color: rgba(241, 240, 96, 1);
  background-color: rgba(151, 152, 179, 1);
  border: 1px solid rgba(241, 240, 96, 1);
}

#s_title {
  color: rgba(62, 64, 116, 1);
  font-size: 1.5em;
  font-family: "Josefin Slab";
}
/*end of skills*/
/*end of about*/

/*my work*/

.w_main {
  display: inline-block;
  margin-left: 1%;
  height: auto;
  width: 98%;
}

.w_box {
  margin: 1%;
  display: block;
  padding: 10px;
  border: 1px solid rgba(62, 64, 116, 1);
  border-radius: 10px;
  box-shadow: 2px 2px 10px rgba(148, 148, 148, 1);
  float: left;
  width: 31%;
  cursor: pointer;
  border-color: rgba(241, 240, 96, 1);
}
.w_box:hover {
  border-color: rgba(101, 103, 138, 1);
}
.w_boxs {
  margin: 1%;
  display: block;
  padding: 10px;
  border: 1px solid rgba(62, 64, 116, 1);
  border-radius: 10px;
  box-shadow: 2px 2px 10px rgba(148, 148, 148, 1);
  float: left;
  width: 98%;
  cursor: pointer;
  border-color: rgba(241, 240, 96, 1);
}
.w_boxs:hover {
  border-color: rgba(101, 103, 138, 1);
}
#w_img {
  width: 150px;
  height: 150px;
  margin: auto;
  margin-top: 20px;
}

#w_title {
  padding-top: 25px;
  text-align: center;
  color: rgba(62, 64, 116, 1);
  font-size: 28px;
  font-family: alice;
}

#w_par {
  padding: 15px;
  color: rgba(62, 64, 116, 1);
  font-size: 140%;
  font-family: "Josefin Slab";
  line-height: 30px;
  text-align: justify;
  display: none;
}

#wk_title {
  color: rgba(62, 64, 116, 1);
  font-family: alice;
  font-size: 35px;
  padding: 5px 5px 5px 20px;
  border: solid rgba(101, 103, 138, 1);
  border-width: 1px 0px 1px 0px;
  background-color: rgba(241, 240, 96, 0.13);
}
a {
  color: rgba(101, 103, 138, 1);
}

#m_time {
  position: absolute;
  font-size: 22px;
  font-family: "Josefin Slab";
  right: 60px;
  color: rgba(101, 103, 138, 1);
  padding: 0px;
  border: solid rgba(101, 103, 138, 1);
  border-width: 1px 0px 1px 0px;
  background-color: rgba(241, 240, 96, 0.5);
}

@media only screen and (max-width: 900px) {
  /* For tablets: */
  .w_main {
    margin-left: 0;
  }
  .w_box {
    min-width: 48%;
  }
}
@media only screen and (max-width: 500px) {
  /* For mobile phones: */
  .w_box {
    min-width: 99%;
  }
  #m_time {
    right: 10px;
  }
}

/*end of my work*/

/*start of for you*/

/*aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa*/

/*aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa*/

#fu_title {
  color: rgba(62, 64, 116, 1);
  font-family: "Josefin Slab";
  font-size: 2.5em;
  text-align: center;
  padding: 5px;
}

[id*="ft_title-"] {
  background-color: rgba(252, 252, 252, 1);
  color: rgba(62, 64, 116, 1);
  border: 1px solid rgba(101, 103, 138, 1);
  border-width: 1px 0px 1px 0px;
  font-family: alice;
  font-size: 25px;
  padding: 5px 5px 5px 25px;
  margin: 5px 0px 5px 0px;
  cursor: pointer;
}
[id*="ft_title-"]:hover {
  padding: 5px 5px 5px 30px;
}

[id*="f_file-"] {
  color: rgba(62, 64, 116, 1);
  font-family: asap;
  font-size: 20px;
  padding: 5px 5px 5px 20px;
  margin: 0px 20px 0px 20px;
  border: solid rgba(101, 103, 138, 1);
  border-width: 0px 0px 0.5px 0.5px;
  display: none;
}

[id*="f_file-"]:hover {
  padding: 5px 5px 5px 30px;
}

#book {
  border: 1px solid rgba(101, 103, 138, 1);
  border-radius: 20px;
  width: 202px;
  display: flex;
  height: 280px;
  margin: 5px;
}
#book img {
  border-radius: 20px;
}
#link {
  border: 1px solid rgba(101, 103, 138, 1);
  border-radius: 20px;
  width: 202px;
  display: flex;
  height: 202px;
  margin: 5px;
}
#link img {
  border-radius: 20px;
}

@media only screen and (max-width: 900px) {
  #w_par img {
    max-width: 100%;
  }
}
@media only screen and (max-width: 500px) {
  [id*="f_file-"] {
    border-width: 0px 0.5px 0.5px 0.5px;
    font-size: 18px;
    padding: 10px;
    margin: 0px 5px 0px 5px;
  }
  [id*="f_file-"]:hover {
    padding: 10px;
  }
  [id*="ft_title-"] {
    font-size: 22px;
    padding: 10px;
    margin: 5px 0px 5px 0px;
  }
  [id*="ft_title-"]:hover {
    padding: 10px;
  }
}
/*end of for you*/

/*talk about*/

.quotes {
  border: 1px solid rgba(148, 148, 148, 0.88);
  border-width: 1px 0px 1px 0px;
  background-color: rgba(241, 240, 96, 0.04);
  padding: 2% 3%;
  margin-top: 20px;
}
.q_text {
  color: rgba(101, 103, 138, 1);
  font-size: 1.4em;
  text-indent: 25px;
  text-align: justify;
  line-height: 1.3em;
  letter-spacing: 2px;
}

.q_cad {
  font-size: 0.8em;
  line-height: 1em;
  color: rgba(148, 148, 148, 1);
  letter-spacing: 1px;
}

.q_date {
  display: inline-block;
}

.qi {
  margin: 10px 5px 0px 30px;
}
